{% extends 'accounts/profile_test.html' %}



{% block content %}
<div class="container">

    <div id="products" class="row list-group">
        {% for e in data %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{e}}</h4>
                    <ul>
                 
                    <p class="group inner list-group-item-text">
                            {% for aliment in e.ingredients.all %}
                            <ul><li>{{aliment}}</li></ul>
                            {% endfor %}</p>
                            
                    </ul>
    
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}