{% extends 'accounts/profile_test.html' %}



{% block content %}
    <div class="container">
    <div id="menuDish" class="tab-pane">

                    <p>Breakfast:</p>
                    <ul class="list">
                        <li id="Eggs">Eggs</li>
                        <li id="Leafy Greens">Leafy Greens</li>
                        <li id="Vegetables">Vegetables</li>
                        <li id="Tuna">Tuna</li>
                    </ul>

                    <p>Lunch:</p>
                    <ul class="list">
                        <li id="Boiled Potatoes">Boiled Potatoes</li>
                        <li id="Salomon">Salomon</li>
                        <li id="Beans and Legumes">Beans and Legumes</li>
                        <li id="Rise with Meat">Rise with Meat</li>
                    </ul>
                    <p>Dinner:</p>
                    <ul class="list">
                        <li id="Salat">Salat</li>
                        <li id="Omlette">Omlette</li>
                        <li id="Milk with cornflakes">Milk with cornflakes</li>
                        <li id="Delicacies">Delicacies</li>
                    </ul>
        </div>
    </div>
{% endblock %}