{% extends 'accounts/profile_test.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {% load static %}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
{% endblock %}

{%block content %}
<div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">User Profile</h3>
            </div>
       <!-- Panel-Body -->   
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3">
                  <img src="https://i.redd.it/5el0ahv4l5hz.jpg" class="img-responsive img-rounded" alt="User image">
                </div><!-- /.col-xs-12 -->
        <!-- User Information -->
                <div class="col-xs-12 col-md-5 col-lg-5">  
                  <h3>{{user.first_name}}</h3>
                  <h4>{{user.last_name}}</h4>
                  <form method='POST'>
                    {% csrf_token %}
                  <div class="table-responsive">

                    <table class="table table-responsive table-user-information">
                      <tbody>
                        <tr>
                          <td class="text-primary">
                            {{ u_form|crispy}}
                            {{ p_form|crispy}}
                          </td>
                        </tr><!--/home -->
                                     
                      </tbody>
                    </table>
                    </div> <!-- /.table-responsive -->
                    <div class='form-group'>
                      <button class=btn btn-outline-info type="submit">Update</button>
                    </div>
                  </form>
                   
                </div><!-- /.col-xs-12 -->
              </div><!-- /.row -->
            </div><!-- /.panel-body -->
      
      </div><!-- /.container -->
        <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

{% endblock %}