<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">        <title>HR Theme Two</title>
	    <!-- CSS -->
        {% load static %}
        <link href="{% static 'bootstrap/bootstrap.min.css' %}"  rel="stylesheet">
        <link href="{% static 'bootstrap/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'header/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'header/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'header/owl.transitions.css' %}" rel="stylesheet">
        <link href="{% static 'header/prettyPhoto.css' %}" rel="stylesheet">
        <link href="{% static 'header/main.css' %}" rel="stylesheet">
        <link href="{% static 'header/styles.css' %}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
        {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>
    <body>
        <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'images/ico/adhd_logo2.png' %}" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="/">Home</a></li>
                        {% if request.path == '/' or request.path == '/accounts/'%}
                        <li class="scroll"><a href="#services">Service</a></li>
                        <li class="scroll"><a href="#about">About Us</a></li>
                        <li class="scroll"><a href="#meet-team">Team</a></li>
                        <li class="scroll"><a href="#get-in-touch">Contact</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="scroll"><a href="{% url 'view_profile' %}">Profile</a> </li>
                            <li class="scroll"><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li class="scroll"><a href="{% url 'login' %}">Login</a></li>
                            <li class="scroll"><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
        {% block body %}
        <h1>Base</h1>
        {% endblock %}
    </body>
</html>